@model DIMS_Core.Models.DeleteUserViewModel;
<form asp-action="DeleteConfirm" asp-controller="MembersManager" method="post">
    <input type="hidden" value="@Model.UserId" asp-for="UserId" />
    <input type="hidden" value="@Model.FullName" asp-for="FullName" />
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.FullName</h5>
            </div>
            <div class="modal-body">
                Do you realy want to delete this user?
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</form>
