<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DIMS - .Net Core</title>
    <link rel="stylesheet" href="~/bundle/css/main.bundle.min.css" />
</head>
<body>
    <partial name="_Header" />
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <partial name="_Footer" />
    <script src="~/bundle/js/main.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
