<li class="nav-item">
    <a class="nav-link text-dark" asp-action="MembersTasksManageGrid" asp-controller="Progress">Your tasks</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-action="TaskTracksManageGrid" asp-controller="Progress">Your tracks</a>
</li>