
@{
    ViewData["Title"] = "Index";
}
    <div>
        <ul>
            <li>
        <a  asp-controller="Members" asp-action="MembersManageGrid">Members manage grid</a>
            </li>
            <li>
        <a asp-action="MemberProgressGrid">MemberProgress manage grid</a>
            </li>
            <li>
        <a asp-action="MembersTasksManageGrid">Memeber's Tasks manage grid</a>
            </li>
            <li>
        <a asp-action="TasksManageGrid" asp-controller="TaskManager">Tasks manage grid</a>
            </li>
            <li>
        <a asp-action="TaskTracksManageGrid">TaskTracks manage grid</a>
            </li>
        </ul>
    </div>
    
