
@{
    ViewData["Title"] = "MemberProgressGrid";
}

<h1>MemberProgressGrid</h1>
<div>
    <table class="table table-bordered">
        <thread class="thead-dark">
            <tr>
                <th>#</th>
                <th>Task</th>
                <th>Note</th>
                <th>Date</th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Create DB</td>
                <td>Implement the TaskState value</td>
                <td>08.10.2020</td>
            </tr>
        </tbody>
    </table>
</div>
