
@{
    ViewData["Title"] = "TasksManageGrid";
}

<h1>TasksManageGrid</h1>
<div>
    <table class="table table-bordered">
        <thread class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Start</th>
                <th>Deadine</th>
                <th></th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Create DB</td>
                <td>04.10.2020</td>
                <td>10.10.2020</td>
                <td>
                    <button class="btn-warning">
                        Edit
                    </button>
                    <button class="btn-danger">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
