
@{
    ViewData["Title"] = "TaskTracksManageGrid";
}

<h1>TaskTracksManageGrid</h1>
<div>
    <table class="table table-bordered">
        <thread class="thead-dark">
            <tr>
                <th>#</th>
                <th>Task</th>
                <th>Note</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Create DB</td>
                <td>Implemention started</td>
                <td>15.10.2020</td>
                <td>
                    <button class="btn-info">
                        Edit
                    </button>
                    <button class="btn-info">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
