@model EditMemberViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MemberModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="edit" asp-controller="member" asp-route-id=@null asp-antiforgery="true" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(q => q.UserId)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education" class="control-label"></label>
                <input asp-for="Education" class="form-control" />
                <span asp-validation-for="Education" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UniversityAverageScore" class="control-label"></label>
                <input asp-for="UniversityAverageScore" class="form-control" />
                <span asp-validation-for="UniversityAverageScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MathScore" class="control-label"></label>
                <input asp-for="MathScore" class="form-control" />
                <span asp-validation-for="MathScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobilePhone" class="control-label"></label>
                <input asp-for="MobilePhone" class="form-control" />
                <span asp-validation-for="MobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skype" class="control-label"></label>
                <input asp-for="Skype" class="form-control" />
                <span asp-validation-for="Skype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@await Html.PartialAsync("_BackToList", new BackToListViewModel { Controller = "member", Action = "index"})