
@{
    ViewData["Title"] = "MembersTasksManageGrid";
}

<h1>MembersTasksManageGrid</h1>
<div>
    <table class="table table-bordered">
        <thread class="thead-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Start</th>
                <th>Deadline</th>
                <th>Status</th>
                <th></th>
                <th>(Admin tools)</th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Create DB</td>
                <td>08.10.2020</td>
                <td>15.10.2020</td>
                <td>Active</td>
                <td>
                    <button class="btn-info">
                        Track
                    </button>
                </td>
                <td>
                    <button class="btn-info">
                        Success
                    </button>
                    <button class="btn-info">
                        Fail
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
