@model TaskTrackViewModel

@{
    ViewData["Title"] = "Edit task tracks #" + Model.TaskTrackId;
    var bottomButtons = new BottomButtonsViewModel()
    {
        BackId = new IdWithName(ViewBag.Route.TaskTrackId, "TaskTrackId"),
        BackAction = ViewBag.Route.BackAction,
        BackController = ViewBag.Route.BackController ??= "task-tracks"
    };
    var backRouteData = new Dictionary<string, string>
    {
        { "TaskTrackId", bottomButtons.BackId.Value.ToString() },
        { "BackAction", bottomButtons.BackAction },
        { "BackController", bottomButtons.BackController }
    };
} 

<h1>Edit task track</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="TaskTrack" asp-antiforgery="true" asp-all-route-data="@backRouteData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(q => q.TaskTrackId)
            @Html.HiddenFor(q => q.UserTaskId)
            <div class="form-group">
                <label asp-for="TrackDate" class="control-label">Date</label>
                <input asp-for="TrackDate" type="date" class="form-control" />
                <span asp-validation-for="TrackDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackNote" class="control-label">Note</label>
                <input asp-for="TrackNote" class="form-control" />
                <span asp-validation-for="TrackNote" class="text-danger"></span>
            </div>
            @await Html.PartialAsync("_BottomSave", bottomButtons)
        </form>
    </div>
</div>