@model SampleViewModel

@{
    ViewData["Title"] = "Edit";
    var bottomButtons = new BottomButtonsViewModel()
    {
        BackController = ViewBag.BackController ??= "samples",
        BackAction = ViewBag.BackAction
    };
}

<h1>Edit</h1>

<h4>SampleModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Sample" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(q => q.SampleId)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            @await Html.PartialAsync("_BottomSave", bottomButtons)
        </form>
    </div>
</div>