@{ 
    ViewData["Title"] = "Sample";
}

<script>
    $(document).ready(() => {
        let dataTable = $('#samples-table').DataTable({
            ajax: {
                url: '@Url.Action("search", "samples")',
                contentType: 'application/json',
                dataSrc: '',
                method: 'POST'
            },
            columns: [
                {
                    visible: false,
                    name: 'Id'
                },
                {
                    title: 'Name',
                    name: 'Name'
                },
                {
                    title: 'Description',
                    name: 'Description'
                }
            ]
        });
    });
</script>

<div>
    <table class="table" id="samples-table"></table>
</div>